<div class="portfolio-detalhes-container">
  <mat-toolbar>
    <span>Ativos do Portfólio: {{ portfolio.nome }}</span>
  </mat-toolbar>

  <div class="ativos-container">
    <!-- Verifica se há ativos no portfólio -->
    <ng-container *ngIf="portfolio.ativos.length > 0; else noAtivosMessage">
      <!-- Card para cada ativo do portfólio -->
      <mat-card *ngFor="let ativo of portfolio.ativos" class="ativo-card">
        <mat-card-header>
          <mat-card-title>{{ ativo.sigla }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Tipo: {{ ativo.ativoTipoNome }}</p>
          <!-- Exibir outras propriedades do ativo aqui -->
        </mat-card-content>
      </mat-card>
    </ng-container>

    <!-- Template para exibir a mensagem quando não houver ativos -->
    <ng-template #noAtivosMessage>
      <p class="no-ativos-message">Portfólio sem Ativos</p>
    </ng-template>
  </div>
</div>
