/* Estilo para o container do dialog */
.mat-dialog-content {
    display: flex;
    flex-direction: column;
  }
  
  /* Estilo para os campos de formulário */
  mat-form-field {
    width: 100%; /* Faz com que cada campo ocupe 100% da largura disponível */
    margin-bottom: 16px; /* Adiciona um espaçamento inferior para separar os campos */
  }