<h1 mat-dialog-title>{{ tipoTransacao | titlecase }} Ativo</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Portfólio</mat-label>
    <mat-select [(ngModel)]="transacaoData.portifolio_Id">
      <mat-option *ngFor="let portfolio of portfolios" [value]="portfolio.portifolio_Id">
        {{ portfolio.nome }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Quantidade</mat-label>
    <input matInput type="number" [(ngModel)]="transacaoData.quantidade" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Preço</mat-label>
    <input matInput type="number" [(ngModel)]="transacaoData.preco" />
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button mat-button color="primary" (click)="onConfirm()">{{ tipoTransacao | titlecase }}</button>
</div>
