.dialog-actions {
    display: flex;
    justify-content: flex-end; /* Alinha os botões à direita */
    gap: 2px; /* Espaçamento entre os botões */
    width: 100%; /* Garante que o container ocupe toda a largura */
  }
  
  button[mat-stroked-button] {
    border: 1px solid rgba(0, 0, 0, 0.12); /* Borda ao redor dos botões */
    padding: 8px 16px; /* Espaçamento interno nos botões */
    border-radius: 4px; /* Borda arredondada (opcional) */
  }
  
  button[mat-stroked-button]:hover {
    border-color: rgba(0, 0, 0, 0.25); /* Muda a cor da borda no hover */
  }
  